In [1]:
4

4

In [3]:
4+5/3

5.666666666666667

In [6]:
a = 4
b = a+2
print("The first b: ", b)

a = 7
b = a+3
print("The second b: ", b)

The first b:  6
The second b:  10

In [13]:
a = True

In [14]:
type(a)

bool

#String

In [16]:
str1 = "Data Science"

In [17]:
print(str1)

Data Science

In [21]:
str1[3]

'a'

In [20]:
len(str1)

12

In [30]:
str1[1:5] #[i:j] -> grab a slice from i to j-1

'ata '

In [32]:
str1[-5:]

'ience'

Tuple: it is a collection of immutable Python objects enclosed within paranthesis ().

In [54]:
tup1 = ("data", 10, "science")

In [56]:
tup1[1] = 30

TypeError: 'tuple' object does not support item assignment

In [35]:
print(tup1)

('data', 10, 'science')

In [36]:
type(tup1)

tuple

In [44]:
tup1[-1]

'science'

#List - is an ordered collection of elements, unlike arrays, it can contain elements of different data types

In [67]:
myList = ['Python', 'Java', 10, 20]

In [68]:
type(myList[0])

str

In [69]:
myList[1] = 'C'

In [70]:
myList

['Python', 'C', 10, 20]

In [71]:
myList

['Python', 'C', 10, 20]

In [72]:
myList.append("GWbasic")

In [73]:
myList

['Python', 'C', 10, 20, 'GWbasic']

In [74]:
myList.remove("C")

In [75]:
myList

['Python', 10, 20, 'GWbasic']

#Sets - collection of unorderd and unindexed items. Every element in the set has to be unique, it cannot contain duplicate.

In [62]:
Name = {"Varun", "Rajan", "Anmol", "Varun"}

# () - tuple
# [] - list
# {} - set

In [63]:
Name

{'Anmol', 'Rajan', 'Varun'}

In [76]:
Name.add("Anand")

In [77]:
Name

{'Anand', 'Anmol', 'Rajan', 'Varun'}

In [86]:
Age  = {23, 22, 32, 40}

In [87]:
print(Name)
print(Age)

{'Anmol', 'Varun', 'Anand', 'Rajan'}
{32, 40, 22, 23}

In [88]:
Detail = Age.union(Name)

In [90]:
print(Detail)
print(Age)

{32, 'Rajan', 40, 'Anmol', 'Anand', 'Varun', 22, 23}
{32, 40, 22, 23}

In [91]:
#intersection

intersection_of_sets = Detail.intersection(Age)
intersection_of_sets

{22, 23, 32, 40}

# Conditional Statements

In [99]:
A = 10
B = 10

if A>B:
    print("A is a boss!")
elif A == B:
    print("There is a tie!")
elif A == 10:
    print("Value of A is 10!")
else:
    print("B is a boss!")

There is a tie!

# Loops

## While

In [100]:
iteration = 0

while(iteration <= 5):
    print(iteration)
    iteration = iteration+1

0
1
2
3
4
5

## For

In [103]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [104]:
myList # print all the elements in myList

['Python', 10, 20, 'GWbasic']

In [105]:
len(myList)

4

In [108]:
for i in range(len(myList)):
    print("Value of i: ", i)
    print(myList[i])

Value of i:  0
Python
Value of i:  1
10
Value of i:  2
20
Value of i:  3
GWbasic

## Nested Loop

In [111]:
n = 5

for i in range(n): # denotes the number of lines
    for j in range(i+1): #denotes the number of * in a line
        print("* ", end="")
    print("\r") # this denotes enter key

*
* *
* * *
* * * *
* * * * *

# Functions

In [1]:
5*2*10

100

In [6]:
# write a function to multiply three numbers

def multiply(x, y, z):
    return x*y*z

In [7]:
result = multiply(5, 2, 10)
print(result)

100

In [21]:
def pattern(n):
    for i in range(n): # denotes the number of lines
        for j in range(i+1): #denotes the number of * in a line
            print("* ", end="")
        print("\r") # this denotes enter key

In [22]:
pattern(3)

*
* *
* * *

In [23]:
print("****\b")

****